<html>
    <head>
        <title>Help Page</title>
        <link rel="icon" href="/img/logo.png">
         <link rel="stylesheet" href="/css/help.css"> // calling th external css file
    </head>
    <body>
        <header>
            <h1>Help</h1>
        </header>
        
        
        <div>
            <a href="/home">Weather</a>
            <a href="about">About</a>
            <a href="help">Help</a>
        </div>
        <footer>
            <p>Created By Karthika Daisy</p>
        </footer>
        <p>some useful information</p>
        
    </body>
</html>